
<div class="ui container grid push-50">

    <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h1>Welcome</h1>
            <p>Muzik Player is an app written by using web technologies, javascript is at the core of this application. In conjuction with HTML5 and css3, Muzik Player gives you the feel and taste of Interactive UI. Written and maintained by Yusuph H. Kajabukama, an experience Fullstack Developer, Javascript Evangelist and Data Scientist based in Dar es salaam. </p>
        </div>
        <div class="four wide column"></div>
    </div>

</div>
